
<div align="center">
  <h2>Shop Details</h2>

  <p><%= @shop.name.capitalize %></p>

  <h3>Products</h3>

  <ul>
      <% @shop.items.each do |item| %>
        <li><%= item.name %> <%= item.quantity %></li>
      <% end %>
  </ul>

<!-- form for creating a new item
 item is only created through a store.
 item does not exist without store
 item must have a category, which the user can
 pick from a dropdown menu, or create if none apply -->

  <h4>Add Item To Shop</h4>

  <%= form_for [@shop, @shop.items.build] do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@item.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </p>
    <p>
      <%= f.label :sku %>
      <%= f.text_field :sku %>
    </p>
    <p>
      <%= f.label :image %>
      <%= f.text_field :image %>
    <p>
    <p>
      <%= f.label :quanitty %>
      <%= f.text_field :quantity %>
    <p>
    <p>
      <%= f.label :price %>
      <%= f.text_field :price %>
    </p>



    <%= f.submit %>
  <% end %>

  <%= link_to "All Shops", shops_path, class: "btn btn-primary" %>
</div>
