
<div align="center">
  <h2>Shop Details</h2>

  <p><%= @shop.name.capitalize %> | <%= link_to "All Items", shop_items_path(@shop, @item) %> | <%= link_to "Create New Item", new_shop_item_path(@shop) %></p>

  <h3>Most Available Products</h3>

  <% if !@shop.items.empty? %>
    <ul>
        <% @items.each do |item| %>
          <li><%= item.name %>: <%= item.quantity %> units</li>
        <% end %>
        <%= link_to "All (#{@shop.items.size}) Products", shop_items_path(@shop)  %> 
    </ul>
  <% end %>

<!-- form for creating a new item
 item is only created through a store.
 item does not exist without store
 item must have a category, which the user can
 pick from a dropdown menu, or create if none apply -->

  <h4>Add Item To Shop</h4>

  <%= form_for [@shop, @shop.items.build] do |f| %>

    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </p>
    <p>
      <%= f.label :sku %>
      <%= f.text_field :sku %>
    </p>
    <p>
      <%= f.label :image %>
      <%= f.text_field :image %>
    <p>
    <p>
      <%= f.label :quantity %>
      <%= f.text_field :quantity %>
    <p>
    <p>
      <%= f.label :price %>
      <%= f.text_field :price %>
    </p>

    <p><%= f.collection_check_boxes :category_ids, Category.all, :id, :name %></p>

    <p>
      <%= f.label :category_name %>
      <%= f.text_field :category_name %>
    </p>
    <%= f.submit %>
  <% end %>

  <%= link_to "All Shops", shops_path, class: "btn btn-primary" %>
</div>
