<div align="center">

  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div>
        <h2>
          <%= pluralize(@user.errors.count, "error") %> prohibited
          this user from saving:
        </h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </p>

    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>

    <p>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </p>

    <p><%= f.submit %></p>
  <% end %>
</div>
