<h4>Add Item To Shop</h4>

<%= form_for [@shop, Item.new] do |f| %>
  <% if @item.errors.any? %>
    <div>
      <h2>
        <%= pluralize(@item.errors.count, "error") %> prohibited
        this item from saving:
      </h2>
      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :sku %>
    <%= f.text_field :sku %>
  </p>
  <p>
    <%= f.label :image %>
    <%= f.text_field :image %>
  <p>
  <p>
    <%= f.label :quanitty %>
    <%= f.text_field :quantity %>
  <p>
  <p>
    <%= f.label :price %>
    <%= f.text_field :price %>
  </p>



  <p><%= f.submit %></p>
<% end %>
