<h1 align="center">Item Details</h1>

<div align="center">
  <p>Product Name: <%= @item.name %></p>
  <p>Description: <%= @item.description %></p>
  <p>SKU: <%= @item.sku %></p>
  <p><%= @item.image %></p>
  <p>Quantity: <%= @item.quantity %></p>
  <p>Price: <%= @item.price %></p>
</div>
