<h1 align="center">Item Details | <%= link_to "Edit", edit_item_path(@item) %></h1>

<div align="center">
  <p>Product Name: <%= @item.name %></p>
  <p>Description: <%= @item.description %></p>
  <p>SKU: <%= @item.sku %></p>
  <p><%= @item.image %></p>
  <p>Quantity: <%= @item.quantity %></p>
  <p>Price: <%= @item.price %></p>
  <p>Seller: <%= link_to @item.shop.name, shop_path(@item.shop) %></p>
</div>

<div align="center">
  <%= link_to "Delete Post", @user, method: :delete, data: { confirm: "Are you sure?"} %>
  <%= link_to "Home", items_path %>
</div>
